@font-face {
	font-family: "Bebas"; font-style: normal; font-weight: normal;
	src: url("http://lwr.org/atf/cf/{3f934d1f-3443-49cb-95ac-954e18ef5d03}/bebasneue_book-webfont.eot?#iefix") format("embedded-opentype"), url("http://lwr.org/atf/cf/{3f934d1f-3443-49cb-95ac-954e18ef5d03}/bebasneue_book-webfont.woff") format("woff"), url("http://lwr.org/atf/cf/{3f934d1f-3443-49cb-95ac-954e18ef5d03}/bebasneue_book-webfont.ttf") format("truetype"), url("http://lwr.org/atf/cf/{3f934d1f-3443-49cb-95ac-954e18ef5d03}/bebasneue_book-webfont.svg#bebas_neuebook") format("svg"); }
@font-face {
	font-family: "Lato"; font-style: normal; font-weight: normal;
	src: url("http://lwr.org/atf/cf/{3f934d1f-3443-49cb-95ac-954e18ef5d03}/lato-reg-webfont.eot?#iefix") format("embedded-opentype"), url("http://lwr.org/atf/cf/{3f934d1f-3443-49cb-95ac-954e18ef5d03}/lato-reg-webfont.woff") format("woff"), url("http://lwr.org/atf/cf/{3f934d1f-3443-49cb-95ac-954e18ef5d03}/lato-reg-webfont.ttf") format("truetype"), url("http://lwr.org/atf/cf/{3f934d1f-3443-49cb-95ac-954e18ef5d03}/lato-reg-webfont.svg#latoregular") format("svg"); } 

blockquote, body, div, h1, h2, h3, h4, h5, h6, html, li, ol, p, ul { border: 0; margin: 0; padding: 0; line-height: inherit; font-size: 100%; font-weight: 400; vertical-align: baseline; }
ol, ul { list-style: none; }
div#ar14 { box-shadow: 0 8px 6px 2px #aaa; font-family: Lato,Arial,sans-serif; font-size: 106%; margin: 0 auto; width: 884px; }
div#ar14 h2 { color: #000; font-family: Lato,Arial,sans-serif; }
div#ar14 h3 { font-family: Lato,Arial,sans-serif; }

div#ar14 sup { font-size: .65em; }
div#ar14 .first-letter { font-size: 1.8em; line-height: 1em; margin-right: 2px; vertical-align: bottom; }
div#ar14 .teal { color: #00a9a7; }
div#ar14 .blue { color: #0095cf; }
div#ar14 .green { color: #a6ce39; }
div#ar14 .dk-blue { color: #074269; }
div#ar14 .orange { color: #f47421; }
div#ar14 .bebas { font-family: Bebas,Arial,sans-serif; }

div#ar14 a { color: #000; text-decoration: none; }
div#ar14 a:hover { background-color: transparent; }
div#ar14 a > strong { -moz-transition: background-color .8s, transform .6s;  -ms-transition: background-color .8s, transform .6s;  -o-transition: background-color .8s, transform .6s;  -webkit-transition: background-color .8s, transform .6s; border-radius: 2px; display: inline-block; overflow: hidden; padding-right: 1.5px; transition: background-color .8s, transform .6s; vertical-align: bottom; }
div#ar14 a:hover > strong { -moz-transform: rotateX(360deg); -ms-transform: rotateX(360deg); -o-transform: rotateX(360deg); -webkit-transform: rotateX(360deg); transform: rotateX(360deg); }

div#ar14.json div.ar14circle > div, div#ar14.json div.ar14circle > img, div#ar14.json div.ar14circle > span { -moz-transition: .5s; -ms-transition: .5s; -o-transition: .5s; -webkit-transition: .5s; transition: .5s; }
div#ar14.json div#title > h3, div#ar14.json div#reach { -moz-transition: left .8s; -ms-transition: left .8s; -o-transition: left .8s; -webkit-transition: left .8s; transition: left .8s; }
div#ar14.json div#wwwmap.shift > div, div#ar14.json div#wwwmap.shift > a, div#ar14.json div#key.shift { -moz-transition: top .8s ease-in-out; -ms-transition: top .8s ease-in-out; -o-transition: top .8s ease-in-out; -webkit-transition: top .8s ease-in-out; transition: top .8s ease-in-out; }
div#ar14.json div#wwwmap > div, div#ar14.json div#wwwmap > a { -moz-transition: background-color .9s, top 1.2s; -ms-transition: background-color .9s, top 1.2s; -o-transition: background-color .9s, top 1.2s; -webkit-transition: background-color .9s, top 1.2s; transition: background-color .9s, top 1.2s; }
div#ar14.json div#circles > div > div#triangles, div#ar14 div#scroll > img, div#ar14 div#signoff > img, div#ar14 div#signoff > h2 { -moz-transition: 1s; -ms-transition: 1s; -o-transition: 1s; -webkit-transition: 1s; transition: 1s; }
div#ar14.json div#circles > div > div.label { -moz-transition: opacity 1s ease-in .2s; -ms-transition: opacity 1s ease-in .2s; -o-transition: opacity 1s ease-in .2s; -webkit-transition: opacity 1s ease-in .2s; transition: opacity 1s ease-in .2s; }
div#ar14.json div#title > img { -moz-transition: top 1.8s; -ms-transition: top 1.8s; -o-transition: top 1.8s; -webkit-transition: top 1.8s; transition: top 1.8s; }
div#ar14.json div#key { -moz-transition: top 1.8s ease-in-out .3s; -ms-transition: top 1.8s ease-in-out .3s; -o-transition: top 1.8s ease-in-out .3s; -webkit-transition: top 1.8s ease-in-out .3s; transition: top 1.8s ease-in-out .3s; }

div#title { cursor: pointer; height: 457px; overflow: hidden; position: relative; }
div#title > img { position: absolute; top: 0; width: 100%; }
div#title > h2 { background-color: #a6ce39; border-bottom: 1px solid #fff; color: #fff; font-family: Lato,Arial,sans-serif; font-size: 1.2em; letter-spacing: 9px; padding: 4px 0; position: absolute; text-align: center; top: 0; width: 100%; }
div#title > h3 { background-color: #02afa2; background-color: rgba(0,162,155,.6); border-top: 1px solid #fff; border-bottom: 1px solid #fff;  bottom: 70px; color: #fff; font-size: 4em; left: 0; letter-spacing: 3px; padding: 10px 0; position: absolute; text-align: center; width: 100%; }
div#title > div { background-color: #074269; bottom: 0; height: 42px; position: absolute; width: 100%; }
div#title > div > img { background-color: #fff; display: block; float: right; height: 24px; margin: 10px; width: 80px; }
div#title > p { -moz-transition: right .6s; -ms-transition: right .6s; -o-transition: right .6s; -webkit-transition: right .6s; background-color: #074269; background-color: rgba(7,66,115,.76); border: 1px solid #fff; border-radius: 4px; color: #fff; font-size: .7em; padding: 12px; position: absolute; right: -300px; top: 60px; transition: right .6s; width: 250px; }
div#title:hover > p { right: 30px; }
div#title.shift > img { top: -20px; }
div#title.shift > h3 { left: -100%; }

div#letter { background-color: #e2f4fd; border-bottom: 1px solid #0095cf; height: 690px; padding: 4px 30px; position: relative; }
div#letter > h2 { font-size: 2.5em; padding: 20px 0 14px; }
div#letter > div { color: #666; float: right; font-size: .7em; font-style: italic; margin-bottom: 10px; margin-left: 20px; width: 320px; }
div#letter > div > img { box-shadow: 3px 3px 8px 2px #aaa; display: block; margin-top: -15px; margin-bottom: 10px; width: 100%; }
div#letter > p { font-size: .86em; line-height: 18px; padding-bottom: 16px; }
div#letter > p.signature { float: right; padding-right: 30px; text-align: right; }
div#letter > p.signature > img { display: block; margin: 10px 0 10px; width: 260px; }

div#wherewework { border-bottom: 1px solid #333; height: 850px; overflow: hidden; position: relative; width: 100%; }
div#wherewework > h2 { font-size: 2.5em; letter-spacing: 2px; position: absolute; text-align: center; top: 12px; width: 100%; z-index: 100000; }
div#wwwmap { position: relative; width: 100%; }
div#wwwmap > img { position: absolute; width: 100%; }
div#wwwmap > div, div#wwwmap > a { -moz-transition: background-color .9s, top 1.2s; -ms-transition: background-color .9s, top 1.2s; -o-transition: background-color .9s, top 1.2s; -webkit-transition: background-color .9s, top 1.2s; background-color: #444; border: 1px solid #fff; border-radius: 8px; color: #fff; font-family: Bebas,Arial,sans-serif; font-size: .75em; height: 13px; padding: 0 8px 2px; position: absolute; transition: background-color .9s, top 1.2s; }
div#wwwmap > * > img { background-color: transparent; display: inline-block; height: 17px; position: relative; left: -9px; margin-right: -4px; top: -1px; vertical-align: top; width: 17px; }
div#wwwmap > a > span { -moz-transition: transform 1.2s; -ms-transition: transform 1.2s; -o-transition: transform 1.2s; -webkit-transition: transform 1.2s; color: #fff; display: inline-block; transition: transform 1.2s; }
div#wwwmap > a:hover { background-color: #666; }
div#wwwmap > a:hover > span { -moz-transform: rotateX(720deg); -ms-transform: rotateX(720deg); -o-transform: rotateX(720deg); -webkit-transform: rotateX(720deg); transform: rotateX(720deg); }

div#wwwmap > a.elsalvador { left: 15px; top: 147px; }
div#wwwmap > a.honduras { left: 46px; top: 122px; }
div#wwwmap > a.nicaragua { left: 89px; top: 141px; }
div#wwwmap > a.haiti { left: 130px; top: 114px; }
div#wwwmap > a.colombia { left: 132px; top: 175px; }
div#wwwmap > a.peru { left: 58px; top: 230px; }
div#wwwmap > a.bolivia { left: 159px; top: 253px; }
div#wwwmap > div.mauritania { left: 250px; top: 159px; }
div#wwwmap > a.mali { left: 286px; top: 199px; }
div#wwwmap > div.liberia { left: 283px; top: 228px; }
div#wwwmap > a.burkinafaso { left: 341px; top: 208px; }
div#wwwmap > a.niger { left: 360px; top: 155px; }
div#wwwmap > div.chad { left: 420px; top: 168px; }
div#wwwmap > div.angola { left: 424px; top: 301px; }
div#wwwmap > a.uganda { left: 409px; top: 238px; }
div#wwwmap > a.kenya { left: 489px; top: 243px; }
div#wwwmap > a.tanzania { left: 481px; top: 272px; }
div#wwwmap > a.southsudan { left: 466px; top: 213px; }
div#wwwmap > div.serbia { left: 376px; top: 84px; }
div#wwwmap > div.lebanon { left: 420px; top: 113px; }
div#wwwmap > a.palestine { left: 397px; top: 130px; }
div#wwwmap > a.syria { left: 450px; top: 97px; }
div#wwwmap > div.georgia { left: 437px; top: 78px; }
div#wwwmap > div.armenia { left: 500px; top: 91px; }
div#wwwmap > div.iraq { left: 504px; top: 118px; }
div#wwwmap > div.jordan { left: 468px; top: 136px; }
div#wwwmap > div.yemen { left: 518px; top: 189px; }
div#wwwmap > a.nepal { left: 623px; top: 128px; }
div#wwwmap > a.india { left: 616px; top: 182px; }
div#wwwmap > div.srilanka { left: 630px; top: 214px; }
div#wwwmap > a.indonesia { left: 646px; top: 260px; }
div#wwwmap > div.myanmar { left: 678px; top: 153px; }
div#wwwmap > div.thailand { left: 700px; top: 176px; }
div#wwwmap > div.cambodia { left: 710px; top: 198px; }
div#wwwmap > a.philippines { left: 778px; top: 220px; }
div#wwwmap.shift > div, div#wwwmap.shift > a { top: -24px; }

div#key { background-color: #fff; border: 1px solid #333; border-radius: 3px; color: #000; font-size: .55em; padding: 5px 8px; position: absolute; top: 14px; width: 200px; }
div#key.key-left { left: 16px; }
div#key.key-right { right: 20px; }
div#key > sup { font-size: .8em; }
div#key > div { margin-bottom: 2px; }
div#key > div.active:before { background-color: #084268; content: ""; display: inline-block; height: 9px; margin-right: 5px; vertical-align: middle; width: 14px; }
div#key > div.mrdist:before { background-color: #a6ce39; content: ""; display: inline-block; height: 9px; margin-right: 4px; vertical-align: middle; width: 14px; }
div#key > div > img { display: inline-block; margin-right: 4px; vertical-align: bottom; width: 14px; }
div#key.shift { top: -120px; }

div#reach { left: 52px; position: absolute; top: 324px; width: 180px; }
div#reach > h2 { font-size: 1.2em; padding: 10px 18px; text-align: center; }
div#reach > div > h4 { color: #02afa2; font-size: .6em; margin: 6px 0 5px 65px; }
div#reach > div > img { display: block; float: left; height: 42px; margin: 6px 8px 16px 16px; width: 42px; }
div#reach > div > img[src*="per"] { -moz-transition: transform 1s ease-out .45s; -ms-transition: transform 1s ease-out .45s; -o-transition: transform 1s ease-out .45s; -webkit-transition: transform 1s ease-out .45s; transition: transform 1s ease-out .45s; }
div#reach > div > img[src*="coun"] { -moz-transition: transform 1s ease-out .65s; -ms-transition: transform 1s ease-out .65s; -o-transition: transform 1s ease-out .65s; -webkit-transition: transform 1s ease-out .65s; transition: transform 1s ease-out .65s; }
div#reach > div > img[src*="proj"] { -moz-transition: transform 1s ease-out .85s; -ms-transition: transform 1s ease-out .85s; -o-transition: transform 1s ease-out .85s; -webkit-transition: transform 1s ease-out .85s; transition: transform 1s ease-out .85s; }
div#reach > div > img[src*="part"] { -moz-transition: transform 1s ease-out 1.05s; -ms-transition: transform 1s ease-out 1.05s; -o-transition: transform 1s ease-out 1.05s; -webkit-transition: transform 1s ease-out 1.05s; transition: transform 1s ease-out 1.05s; }
div#reach > div > h2 { color: #003962; font-family: Bebas,Arial,sans-serif; font-size: 2em; }
div#reach > div > h3 { font-family: Bebas,Arial,sans-serif; font-size: 1.2em; line-height: 1em; margin-top: -4px;}
div#reach > a { display: block; font-size: .8em; padding: 20px; text-align: center; }
div#reach > a:hover > strong { background-color: #ebdbbf; }
div#reach.shift { left: -200px; }
div#reach.shift > div > img { -moz-transform: rotate(-1080deg); -ms-transform: rotate(-1080deg); -o-transform: rotate(-1080deg); -webkit-transform: rotate(-1080deg); -moz-transition: 0s; -ms-transition: 0s; -o-transition: 0s; -webkit-transition: 0s; transform: rotate(-1080deg); transition: 0s; }

div#wherewework > div#image { bottom: 0; position: absolute; right: 49px; }
div#wherewework > div#image > p { font-size: .66em; left: -100px; position: absolute; top: 150px; width: 140px; }
div#wherewework > div#image > span { bottom: 0; color: #aaa; font-size: .5em; font-style: italic; height: 15px; position: absolute; right: 28px; }

div#people { border-bottom: 1px solid #aaa; font-size: .8em; height: 898px; }
div#people > div > h2 { color: #00a9a7; font-family: Bebas,Arial,sans-serif; font-size: 1.5em; padding: 10px 1% 0; }
div#people > div > h3 { font-size: .75em; padding: 2px 1% 15px; }
div#people > div > div > h2 { font-family: Bebas,Arial,sans-serif; font-size: 1.1em; }
div#people > div > div > h3 { color: #0095cf; font-size: .9em;}
div#people > div > div > h4 { color: #00a9a7; font-size: .85em; font-style: italic; margin: 1px -1px 12px; }

div#donors { background-color: #00a9a7; border-bottom-right-radius: 22px; color: #fff; float: right; margin: 20px 3%; width: 94%; }
div#people > div#donors > h2 { color: #fff; font-weight: 700; letter-spacing: .1em; margin: 10px 14px 0; padding: 0; }
div#donors > div { float: left; margin: 10px 2%; width: 28%; }
div#donors a { -moz-transition: background-color .2s, -ms-transition: background-color .2s, -o-transition: background-color .2s, -webkit-transition: background-color .2s, border-radius: 4px; color: #fff; display: block; transition: background-color .2s, color .2s; }
div#donors a:hover { background-color: #59dbd1; color: #666; }
div#donors > div > * { padding: 3px 12px; }
div#donors > em { clear: both; display: block; font-size: .75em; margin: 10px 16px; }
div#donors > em > a { display: inline-block; }

div#people > div#board { float: left; margin-left: 2.5%; width: 60%; }
div#people > div#board > div { float: left; padding: 0 3% 0 1%; width: 46%; }
div#people > div#staff { float: left; margin-left: 2%; width: 32%; }
div#people > div#staff > div > h3 { padding-bottom: 12px; }
div#people > div#staff > div { padding: 10px 8% 10px 1%; width: 91%; }

div#assets { border-bottom: 1px solid #aaa; clear: both; font-size: .8em; height: 850px; padding: 14px 2%; width: 96%; }
div#assets > h2 { font-size: 1.6em; }

div#lists { float: left; width: 46%; }
div#lists > div { clear: both; width: 100%;}
div#lists > a { clear: both; color: #444; display: block; font-size: .9em; margin: 0 auto; padding: 15px 0; text-align: center; width: 95%; }
div#lists > a:hover > strong { background-color: #bbdaef; }
div#lists > div > h2 { color: #f47421; font-family: Bebas,Arial,sans-serif; font-size: 1.4em; padding: 12px 0 2px; }
div#lists > div > h3 { clear: both; color: #03ae60; font-family: Bebas,Arial,sans-serif; font-size: 1.15em; padding: 4px 0 1px; }
div#lists > div > h4 { border-top: 1px solid #b9e5fb; clear: both; color: #08aada; float: left; font-size: .8em; padding: 1.5px 1% 1.5px; width: 76%; }
div#lists > div > h4.amt { clear: none; float: right; text-align: right; width: 20%; }
div#lists > div > h4.total { background-color: #0095cf; color: #fff; }
div#lists > div > h4.total2 { background-color: #d1e9f8; color: #00a7d9; }
div#lists > div > h4.total1 { background-color: #dfeff9; color: #00a7d9; }
div#lists > em { color: #00a5d8; display: block; font-size: .75em; margin: 0 auto; width: 95%; }

div#circles { float: left; margin-left: 4%; width: 46%; }
div#circles > div { background-color: #fff; height: 250px; margin-bottom: 8px; position: relative; }
div#circles > div > div#triangles { -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg); -webkit-transform: rotate(0deg); background-color: #074269; -moz-border-radius: 100%; -webkit-border-radius: 100%; border-radius: 100%; height: 190px; margin: 0 auto; overflow: hidden; position: relative; top: 30px; transform: rotate(0deg); width: 190px; }
div#circles > div#expensechart > div#triangles { background-color: #00a9a7; }
div#circles > div.shift > div#triangles { -moz-transform: rotate(-360deg); -ms-transform: rotate(-360deg); -o-transform: rotate(-360deg); -webkit-transform: rotate(-360deg); height: 100px; transform: rotate(-360deg); top: 75px; width: 100px; }

div#circles > div > div#triangles > div.triangle { border-style: solid; border-color: transparent; height: 0; position: absolute; width: 0; }
div#circles > div > div#triangles > div.triangle#lcms { border-width: 95px 90px; border-bottom-color: #a6ce39; border-left-color: #a6ce39; left: -68px; top: -85px; }

div#circles > div > div#triangles > div.triangle#elca { border-width: 70px 95px; border-bottom-color: #6ccff6; border-left-color: #6ccff6; left: -70px; top: -35px; }
div#circles > div > div#triangles > div.triangle#mr { background-color: #0095cf; height: 95px; left: 0; top: 95px; width: 190px; }
div#circles > div > div#triangles > div.triangle#cfc { border-width: 225px 45px; border-top-color: #58585a; border-right-color: #58585a; left: 90px; top: 95px; }
div#circles > div > div#triangles > div.triangle#frb { border-width: 195px 60px; border-top-color: #ec8541; border-right-color: #ec8541; left: 90px; top: 95px; }
div#circles > div > div#triangles > div.triangle#act { border-width: 185px 57px; border-top-color: #453f2d; border-right-color: #453f2d; left: 92px; top: 95px; }
div#circles > div > div#triangles > div.triangle#grants { border-width: 165px 85px; border-top-color: #fae312; border-right-color: #fae312; left: 92px; top: 95px; }
div#circles > div > div#triangles > div.triangle#usgov { border-width: 125px; border-top-color: #00a651; border-right-color: #00a651; left: 95px; top: 95px; }
div#circles > div > div#triangles > div.triangle#bequests { border-width: 75px 165px; border-top-color: #00a9a7; border-right-color: #00a9a7; left: 105px; top: 95px; }
div#circles > div > div#triangles > div.triangle#fr { border-width: 75px 90px; border-top-color: #6ccff6; border-right-color: #6ccff6; left: -88px; top: -45px; }
div#circles > div > div#triangles > div.triangle#gm { border-width: 95px 60px; border-top-color: #0095cf; border-right-color: #0095cf; left: -18px; top: -75px; }

div#circles > div > div#inner-circle-out { background-color: #000; background-color: rgba(0,0,0,.4); border-radius: 100%; height: 105px; left: 36.5%; position: absolute; top: 72px; width: 105px; }
div#circles > div > div#inner-circle-in { background-color: #fff; border-radius: 100%; color: #0bbaba; font-size: .8em; height: 55px; left: 38.5%; line-height: 1em; opacity: 1; padding-top: 35px; position: absolute; text-align: center; top: 80px; width: 90px; }

div#circles > div > div.label { color: #3c5b7c; font-size: .7em; line-height: .95em; opacity: 1; position: absolute; width: 140px; }
div#circles > div > div.label > span { color: #5abae3; }
div#circles > div > div.label:before, div#circles > div > div.label:after { color: #aaa; display: block; font-size: 2em; position: relative; }
div#circles > div.shift > div.label { opacity: 0; }

div#circles > div > div.label#indiv-label { left: 257px; top: 28px; }
div#circles > div > div.label#lcms-label { left: 29px; top: 24px; }
div#circles > div > div.label#elca-label { left: 0; top: 48px;  }
div#circles > div > div.label#mr-label { left: 16px; top: 166px; }
div#circles > div > div.label#cfc-label { left: 112px; top: 221px; }
div#circles > div > div.label#frb-label { left: 218px; top: 222px; }
div#circles > div > div.label#act-label { left: 248px; top: 207px; }
div#circles > div > div.label#grants-label { left: 280px; top: 176px; }
div#circles > div > div.label#usgov-label { left: 296px; top: 154px; }
div#circles > div > div.label#bequests-label { left: 304px; top: 135px; }
div#circles > div > div.label#prog-label { left: 246px; top: 28px; }
div#circles > div > div.label#fr-label { left: 105px; top: 15px; }
div#circles > div > div.label#gm-label { left: 0; top: 37px;  }

div#circles > div > div.label#indiv-label:after { content: "/"; left: 2px; top: 5px; }
div#circles > div > div.label#lcms-label:after { content: "\\"; left: 96px; top: 4px; }
div#circles > div > div.label#elca-label:after { content: "\\"; left: 110px; top: 4px; }
div#circles > div > div.label#mr-label:before { content: "/"; left: 93px; top: -5px; }
div#circles > div > div.label#cfc-label:before { content: "/"; left: 94px; top: -4px; }
div#circles > div > div.label#frb-label:before { content: "\\"; left: 1px; top: -4px; }
div#circles > div > div.label#act-label:before { border-bottom: 2px solid #aaa; content: ""; left: -18px; top: 4px; width: 16px; }
div#circles > div > div.label#grants-label:before { border-bottom: 2px solid #aaa; content: ""; left: -26px; top: 16px; width: 24px; }
div#circles > div > div.label#usgov-label:before { border-bottom: 2px solid #aaa; content: ""; left: -23px; top: 8px; width: 20px; }
div#circles > div > div.label#bequests-label:after { border-bottom: 2px solid #aaa; content: ""; left: -21px; top: -6px; width: 18px; }
div#circles > div > div.label#prog-label:after { content: "/"; left: 5px; top: 6px; }
div#circles > div > div.label#fr-label:after { content: "\\"; left: 60px; top: 6px; }
div#circles > div > div.label#gm-label:after { content: "\\"; left: 126px; position: relative; top: 5px; }

div#circles > a#stewardship { background-color: #c7eafc; color: #074269; display: block; height: auto; margin: 12px auto 0; padding: 8px; width: 74%; }
div#circles > a#stewardship > h2 { font-size: 1.5em; }
div#circles > a#stewardship > span { font-weight: 700; }
div#circles > a#stewardship:hover > strong { background-color: #79c8f0; }

div#frehner { background-color: #cfe2ea; border-bottom: 1px solid #aaa; clear: both; height: 510px; padding: 26px 24px 0; }
div#frehner > div { box-shadow: 6px 6px 6px 3px #aaa; cursor: pointer; float: right; overflow: hidden; margin: 10px 12px 10px 25px; position: relative; }
div#frehner > div > img { width: 480px; }
div#frehner > div > em { -moz-transition: right .6s; -ms-transition: right .6s; -o-transition: right .6s; -webkit-transition: right .6s; background-color: #e1ebf4; background-color: rgba(235,245,255,.8); border: 1px solid #489ad4; border-radius: 12px; color: #489ad4; font-size: .7em; right: -225px; padding: 8px 10px; position: absolute; top: 12px; transition: right .6s; width: 200px; }
div#frehner > div:hover > em { right: 14px; }
div#frehner > h2 { font-size: 1.7em; line-height: .85em; padding-bottom: 2px; }
div#frehner > h3 { font-size: 1.2em; line-height: .9em; }
div#frehner > p { font-size: .9em; margin-top: 19px; }

div.spotlight { border-bottom: 1px solid #555; height: 636px; overflow: hidden; position: relative; }

div.body { font-size: .75em; padding: 14px 2%; width: 51%; }
div.body > h3 { font-size: 1em;  }
div#ar14 div.body > h2 { border-bottom: 1px solid #6ecff6; color: #02afa2; font-family: Bebas,Arial,sans-serif; font-size: 2.6em; margin: -5px 0 5px; padding-bottom: 5px; }
div.body > p { padding: 9px 14px 0 4px; }
div.body > a { color: #444; display: block; padding: 12px 14px 0 4px; width: 88%; }
div.body > a > img { float: left; margin: 1px 3px 0 0; }
div.body > a:hover > strong { background-color: #b5dada; }

div.ar14circle { float: right; font-family: Bebas,Arial,sans-serif; font-size: 1.4em; height: 170px; line-height: .85em; margin: 8px -18px 0 0; overflow: hidden; padding: 32px 5px 0 58px; position: relative; width: 146px; }
div.ar14circle > div { border: 1px solid #6ccff6; border-radius: 100%; height: 200px; left: 20px; position: absolute; top: 0; width: 200px; }
div.ar14circle > img { height: 40px; left: 10px; position: absolute; top: 40px; width: 40px; }
div.ar14circle > img.icon2 { left: 10px; top: 88px; }
div.ar14circle > span { color: #f47421; display: block; font-size: 2em; line-height: 26px; margin: 8px 0 4px -3px; width: 100%; }

div.ar14circle.shift > div { height: 100px; left: 40px; top: 20px; width: 100px; }
div.ar14circle.shift > img { height: 20px; left: 54px; top: 18px; width: 20px; }
div.ar14circle.shift > img.icon2 { left: 76px; top: 18px; }
div.ar14circle.shift > span { color: #a04000; font-size: 1.1em; }

div.donors { background-color: #0095cf; border-radius: 3px; float: right; font-size: .8em; margin: 8px; padding: 4px 8px 6px; width: 215px; }
div#ar14 div.donors > h2 { color: #fff; font-size: 1.1em; font-weight: 700; letter-spacing: .05em; line-height: .9em; padding: 4px 0 3px; }
div.donors p, div#ar14 div.donors a { -moz-transition: .2s; -ms-transition: .2s; -o-transition: .2s; -webkit-transition: .2s; border-radius: 3px; color: #fff; display: block; font-size: 1em; line-height: .95em; margin: 3px 0 1px; padding: 2px; transition: .2s; }
div#ar14 div.donors a:hover { background-color: #5cbbe4; color: #333; }

div.ar14offset { -moz-transition: left .6s; -ms-transition: left .6s; -o-transition: left .6s; -webkit-transition: left .6s; box-shadow: 0 -2px 8px 4px #666; cursor: pointer; height: 100%; left: 55%; overflow: hidden; position: absolute; top: 0; transition: left .6s; width: 90%; }
div.ar14offset > p { -moz-transition: left .6s ease-in .12s; -ms-transition: left .6s ease-in .12s; -o-transition: left .6s ease-in .12s; -webkit-transition: left .6s ease-in .12s; background-color: #a6ce39; background-color: rgba(166,206,57,.65); border-radius: 4px; display: block; height: 56px; left: 3%; position: absolute; top: 24%; transition: left .6s ease-in .12s; width: 28px; }
div.ar14offset > p:after { border-style: solid; border-color: transparent; border-width: 19px 9px; border-right-color: #fff; content: ""; display: block; height: 0; position: relative; top: -10px; width: 0; }
div.ar14offset > img { -moz-transition: left 1s ease-out .16s; -ms-transition: left 1s ease-out .16s; -o-transition: left 1s ease-out .16s; -webkit-transition: left 1s ease-out .16s; background-color: #ccc; height: 100%; left: -8%; position: absolute; top: 0; transition: left 1s ease-out .16s; }
div.ar14offset > div { -moz-transition: right 1.05s ease-out .06s; -ms-transition: right 1.05s ease-out .06s; -o-transition: right 1.05s ease-out .06s; -webkit-transition: right 1.05s ease-out .06s; background-color: #000; background-color: rgba(0,0,0,.5); border-left: 1px solid #fff; color: #fff; cursor: default; font-size: .65em; height: 100%; padding: 10px 4% 0 3%; position: absolute; right: -40%; top: 0; transition: right 1.05s ease-out .06s; width: 24%; }
div.ar14offset > h4 { -moz-transition: right 1.3s ease-out .2s; -ms-transition: right 1.3s ease-out .2s; -o-transition: right 1.3s ease-out .2s; -webkit-transition: right 1.3s ease-out .2s; background-color: #ddd; background-color: rgba(220,220,220,.7); border: 1px solid #888; border-radius: 10px; bottom: 12px; color: #333; font-size: .6em; line-height: .95em; padding: 6px 8px 8px; position: absolute; right: -200px; transition: right 1.3s ease-out .2s; width: 200px; }
div.ar14offset > em { bottom: 2px; color: #fff; font-size: .6em; font-style: italic; position: absolute; left: 4px; }
div#ar14 div.ar14offset > div > h2 { font-family: Bebas,Arial,sans-serif; font-size: 2.4em; line-height: .9em; margin: 10px 0 15px; }
div.ar14offset > div > p { line-height: 14px; padding: 6px 0 8px; position: relative; }
div.ar14offset > div > p > img { background-color: #fff; border-radius: 100%; display: block; height: 30px; left: -20%; position: absolute; width: 30px; }
div#ar14 div.ar14offset > div > a { color: #fff; display: inline-block; margin: 12px 0 0 9%; padding-top: 8px; text-align: center; width: 80%; }
div.ar14offset > div > a:hover > strong { background-color: #aaa; }
div.ar14offset:hover { left: 12%; }
div.ar14offset:hover > p { left: -10%; }
div.ar14offset:hover > img { left: -26%; }
div.ar14offset:hover > div { right: .5%; }
div.ar14offset:hover > h4 { right: 33%; }

div.spotlight#kenya { height: 576px; }
div.spotlight#kenya > div.body { width: 61%; }
div.spotlight#kenya > div.body > div.ar14circle { margin-right: -40px; }
div.spotlight#kenya > div.body > div.donors { margin-top: 0; }
div.spotlight#kenya > div.ar14offset { left: 65%; width: 70%; }
div#ar14 div.spotlight#kenya > div.ar14offset > div > h2 { color: #fff; }
div.spotlight#kenya > div.ar14offset > p { left: 3%; top: 14%; }
div.spotlight#kenya > div.ar14offset > img { height: 105%; left: -18%; }
div.spotlight#kenya > div.ar14offset > div { background-color: #074269; padding: 10px 5% 0 4%; right: 3%; width: 33%; }
div.spotlight#kenya > div.ar14offset > div > p > strong { color: #84cbee; }
div.spotlight#kenya > div.ar14offset > div > a { margin-top: 5px; }
div.spotlight#kenya > div.ar14offset > div > a:hover > strong { background-color: #588aac; }
div.spotlight#kenya > div.ar14offset:hover { left: 30%; }
div.spotlight#kenya > div.ar14offset:hover > P { left: -10%; }
div.spotlight#kenya > div.ar14offset:hover > img { left: -16%; }
div.spotlight#kenya > div.ar14offset:hover > div { right: -1%; }

div.spotlight#indonesia { height: 684px; }
div.spotlight#indonesia > div.body { width: 54%; }
div.spotlight#indonesia > div.body > div.donors { margin-top: 14px; }
div.spotlight#indonesia > div.body > div.ar14circle { margin-right: 0; }
div.spotlight#indonesia > div.ar14offset { left: 57%; }
div.spotlight#indonesia > div.ar14offset > p { top: 37%; }
div.spotlight#indonesia > div.ar14offset > img { left: -1%; }
div.spotlight#indonesia > div.ar14offset > div { background-color: #153c5c; background-color: rgba(1,44,79,.75); width: 28%; }
div.spotlight#indonesia > div.ar14offset > div > a { margin: 0 0 0 4%; width: 92%; }
div.spotlight#indonesia > div.ar14offset > div > a:hover > strong { background-color: #76cdd4; }
div.spotlight#indonesia > div.ar14offset:hover { left: 12%; }
div.spotlight#indonesia > div.ar14offset:hover > img { left: -5%; }

div.spotlight#indonesia > div.ar14offset > div.sidebar { -moz-transition: left .7s; -ms-transition: left .7s; -o-transition: left .7s; -webkit-transition: left .7s; background-color: #fff; border: 0; border-radius: 0 8px 8px 0; color: #444; font-size: .75em; height: auto; left: 0; line-height: 1.3em; padding: 15px; position: absolute; top: 65%; transition: left .7s; width: 170px; }
div.spotlight#indonesia > div.ar14offset:hover > div.sidebar { left: -215px; }

div#tsunami-expenses { margin-right: 2%; width: 98%; }
div#tsunami-expenses > h2 { font-size: 1.1em; font-weight: 700; margin: 58px auto 10px; text-align: center; width: 70%; }
div#tsunami-expenses > div { height: 152px; padding-top: 19px; position: relative; width: 100%; }
div#tsunami-expenses > div > div#tsunami-circle { -moz-border-radius: 100%; -webkit-border-radius: 100%; background-color: #a6ce39; border-radius: 100%; height: 130px; margin: 0 auto; overflow: hidden; position: relative; width: 130px; }

div#tsunami-expenses > div > div > div.triangle { position: absolute; }
div#tsunami-expenses > div > div > div.triangle#other { background-color: #074269; height: 65px; left: 65px; width: 65px; }
div#tsunami-expenses > div > div > div.triangle#india { border-top: 100x solid transparent; border-bottom: 100px solid #666; border-left: 45px solid transparent; border-right: 45px solid #666; height: 0; left: 65px; top: -25px; width: 0; }
div#tsunami-expenses > div > div > div.triangle#srilanka { background-color: #00a9a7; height: 65px; left: 65px; top: 65px; width: 65px; }
div#tsunami-expenses > div > div > div.triangle#srilanka:before { border-top: 100px solid transparent; border-bottom: 100px solid #00a9a7; border-left: 22px solid transparent; border-right: 22px solid #00a9a7; content: ""; display: block; height: 0; left: -42px; position: relative; top: 10px; width: 0; }

div#tsunami-expenses > div > div > div.inner-circle { background-color: #fff; border-radius: 100%; height: 50px; left: 40px; position: absolute; top: 40px; width: 50px; }
div#tsunami-expenses > div > div.label { font-size: .9em; position: absolute; } 
div#tsunami-expenses > div > div.label#indonesia-label { left: 0; top: 13px; }
div#tsunami-expenses > div > div.label#other-label { left: 121px; top: 3px; }
div#tsunami-expenses > div > div.label#india-label { left: 154px; top: 22px; }
div#tsunami-expenses > div > div.label#srilanka-label { left: 128px; top: 133px; }
div#tsunami-expenses > div > div.label:before, div#tsunami-expenses > div > div.label:after { color: #fff; display: block; font-size: 1.6em; position: relative; }
div#tsunami-expenses > div > div.label#indonesia-label:after { content: "\\"; left: 70px; top: -1px; }
div#tsunami-expenses > div > div.label#other-label:after { content: "/"; left: 3px; top: -3px; }
div#tsunami-expenses > div > div.label#india-label:after { content: "/"; left: -1px; top: -3px; }
div#tsunami-expenses > div > div.label#srilanka-label:before { content: "\\"; left: 2px; top: 2px; }
div#tsunami-expenses > em { display: block; font-size: .8em; margin-top: 6px; margin-left: 2%; }

div.spotlight#indianepal { height: 685px; }
div.spotlight#indianepal > div.body { width: 62%; }
div.spotlight#indianepal > div.body > h2 > span.and { color: #6ccff6; display: inline-block; font-size: .6em; padding: 4px 3px 0 2px; vertical-align: top; }
div.spotlight#indianepal > div.body > div.donors { margin: 10px 12px; }
div.spotlight#indianepal > div.body > div.ar14circle { margin: 16px -50px 0 0; }
div.spotlight#indianepal > div.ar14offset { left: 67%; }
div.spotlight#indianepal > div.ar14offset > img { left: -2%; }
div.spotlight#indianepal > div.ar14offset > p { top: 15%; }
div.spotlight#indianepal > div.ar14offset > div.topbar { -moz-transition: left 1.2s; -ms-transition: left 1.2s; -o-transition: left 1.2s; -webkit-transition: left 1.2s; background-color: #00a9a7; background-color: rgba(0,167,169,.6); border: 0; border-radius: 25px 0 0 25px; height: auto; left: 100%; line-height: 1.6em; padding: 26px 80px 26px 32px; position: absolute; top: 7%; transition: left 1.2s; width: 45%; }
div.spotlight#indianepal > div.ar14offset > div.topbar > span { color: #6ccff6; float: left; font-size: 5em; margin: 16px 14px 14px 8px; }
div.spotlight#indianepal > div.ar14offset:hover { left: 48%; }
div.spotlight#indianepal > div.ar14offset:hover > img { left: -6%; }
div.spotlight#indianepal > div.ar14offset:hover > div.topbar { left: 4.5%; }

div.spotlight#centralamerica { height: 670px; }
div.spotlight#centralamerica > div.body > div.ar14circle { margin-right: -26px; }
div.spotlight#centralamerica > div.body > a > img { margin: -2px 2px; }
div.spotlight#centralamerica > div.ar14offset:hover { left: 38%; }
div.spotlight#centralamerica > div.ar14offset > p { top: 83%; }
div.spotlight#centralamerica > div.ar14offset > img { left: 0; }
div.spotlight#centralamerica > div.ar14offset > div { background-color: #009357; background-color: rgba(0,147,87,.25); }
div.spotlight#centralamerica > div.ar14offset > div.pathways { -moz-transition: left 1.3s; -ms-transition: left 1.3s; -o-transition: left 1.3s; -webkit-transition: left 1.3s; background-color: #153c5c; background-color: rgba(1,44,79,.75); border: 0; border-right: 1px solid #fff; left: 0; transition: left 1.3s; width: 22%; }
div.spotlight#centralamerica > div.ar14offset > em { color: #999; }
div.spotlight#centralamerica > div.ar14offset:hover > img { left: -15%; }
div.spotlight#centralamerica > div.ar14offset:hover > div { right: 29%; }
div.spotlight#centralamerica > div.ar14offset:hover > div.pathways { left: -36%; }

div.spotlight#honduras { height: 600px; }
div.spotlight#honduras > div.body { width: 46%; }
div.spotlight#honduras > div.body > div.ar14circle { margin-top:  -7px; }
div.spotlight#honduras > div.body > div.donors { margin-right: 12px; }

div.offset_honduras { box-shadow: 0 -2px 8px 4px #666; color: #333; height: 100%; left: 49%; position: absolute; top: 0; width: 51%; }
div.offset_honduras > div { height: 100%; position: relative; }
div.offset_honduras > div > img { margin: 0; position: absolute; top: 0%; width: 100%; }
div.offset_honduras > div > div#groundup { background-color: #e2f3f2; bottom: 0; font-size: .65em; padding: 0 1%; position: absolute; width: 100%; }
div.offset_honduras > div > div#groundup > p { padding: 10px 12px 7px; width: 240px; }
div.offset_honduras > div > div#groundup > ul { padding: 0 12px; width: 240px; }
div.offset_honduras > div > div#groundup > ul > li { display: inline-block; font-size: .9em; margin-left: 23px; padding-bottom: 3px; padding-right: 0; position: relative; vertical-align: top; width: 86px; }
div.offset_honduras > div > div#groundup > ul > li:before { background-color: #a6ce39; border-radius: 100%; content: ""; display: inline-block; height: 4px; left: -8px; position: absolute; top: 4px; width: 4px; }
div.offset_honduras > div > div#groundup > img.logo { float: right; margin: -14px 16px 0 0; width: 180px; }
div.offset_honduras > div > div#groundup > img.map { margin-top: -8px; width: 100%; }
div.offset_honduras > div > div#groundup > div { margin-top: -8px;  }
div.offset_honduras > div > div#groundup > div > p { color: #f0a816; display: inline-block; font-size: .9em; text-align: center; width: 33%; }
div.offset_honduras > div > div#groundup > div > p > img { background-color: #f0a816; display: inline-block; height: 8px; margin-right: 2px; width: 8px; }
div.offset_honduras > div > div#groundup > div > p#coffee { color: #666; width: 24%; }
div.offset_honduras > div > div#groundup > div > p#coffee > img { background-color: #666; }
div.offset_honduras > div > div#groundup > div > p#both { color: #a6ce39; width: 41%; }
div.offset_honduras > div > div#groundup > div > p#both > img { background-color: #a6ce39; }
div.offset_honduras > div > div#groundup > a { color: #333; display: block; margin: 14px 0 16px; text-align: center; }
div.offset_honduras > div > div#groundup > a > strong { color: #f0a816; }
div.offset_honduras > div > div#groundup > a:hover > strong { background-color: #f6dba4; }

div#haiyan > h2, div#haiyan > div > h2 { color: #0095cf; font-family: Bebas,Arial,sans-serif; font-size: 1.7em; padding: 14px 16px 6px; }
div#haiyan > h2 { font-size: 2.1em; }
div#haiyan > h2 > span.after { color: #6ccff6; }
div#haiyan > div > h2 > img { vertical-align: top; margin-right: 6px; width: 32px; }
div#haiyan > p, div#haiyan > div > p, div#haiyan > div > a { color: #000; font-size: .8em; line-height: 1.2em; padding: 5px 19px 7px;  }
div#haiyan > div > p > strong { color: #00a9a7; }

div#haiyan > div#delia { box-shadow: 3px 3px 8px 3px #aaa; cursor: pointer; float: right; margin: 18px 24px; overflow: hidden; position: relative; width: 470px; }
div#haiyan > div#delia > img { width: 100%;  }
div#haiyan > div#delia > p { -moz-transition: right .7s; -ms-transition: right .7s; -o-transition: right .7s; -webkit-transition: right .7s; background-color: #fff; background-color: rgba(255,255,255,.8); border: 1px solid #888; border-radius: 11px 0 0 11px; font-size: .7em; padding: 9px 12px; position: absolute; right: -200px; top: 15px; transition: right .7s; width: 170px; }
div#haiyan > div#delia:hover > p { right: -1px; }

div#haiyan > div#haiyan-stats { height: 110px; margin: 10px 0 0 12%; overflow: hidden; position: relative; width: 80%; }
div#haiyan > div#haiyan-stats > div { border: 1px solid #6ccff6; border-radius: 100%; height: 370px; left: 22%; position: absolute; width: 370px; }
div#haiyan > div#haiyan-stats > p { color: #3dc1c0; display: inline-block; font-size: .9em; line-height: 1.3em; margin-top: 30px; margin-left: 1%; padding: 0; position: relative; text-align: center; width: 31%; }
div#haiyan > div#haiyan-stats > p > img { left: 3%; position: absolute; top: -14px; width: 35px; }
div#haiyan > div#haiyan-stats > p > span { color: #003962; display: block; font-size: 1.6em; }
div#haiyan > div#haiyan-stats > em { bottom: 8px; color: #333; font-size: .65em; left: 0; position: absolute; text-align: center; width: 95%; }

div#haiyan > div#cashforwork > h2, div#haiyan > div#cashforwork > p { color: #fff; }
div#cashforwork { background-color: #074269; color: #fff; height: 240px; position: relative; }
div#cashforwork > img.leonida { float: right; height: 240px; }
div#cashforwork > em { bottom: 4px; font-size: .55em; position: absolute; right: 8px; }
div#haiyan > div#cashforwork > a { color: #fff; display: block; font-size: .8em; line-height: auto; padding: 7px 19px 7px; }
div#cashforwork > a > img { background-color: transparent; margin: -2px 5px -5px 0; }
div#cashforwork > a:hover > strong { background-color: #387a98; } 

div#haiyan > div#shelter, div#haiyan > div#vouchers { float: left; margin: 8px 0; width: 49.5%; }
div#haiyan > div#shelter > img, div#haiyan > div#wash > img { width: 100%; }
div#haiyan > div#wash, div#haiyan > div#qa { float: right; margin: 8px 0; width: 49.5%; }
div#haiyan > div > div.donors { font-size: .65em; margin-right: 5%; width: 88%; }
div#haiyan > div > div.donors > div { float: left; margin-right: 3%; width: 47%; }

div#scroll { clear: both; height: 350px; overflow: hidden; position: relative; width: 100%; }
div#scroll > img { left: -5%; position: absolute; top: -20%; width: 110%; }
div#scroll.shift > img { left: 0; top: 0; width: 100%; }

div#roadahead { clear: both; margin-bottom: 16px; }
div#roadahead > a:hover > strong { background-color: #b0e0e6; }

div#lookingahead { background-color: #074269; border-bottom: 1px solid #fff; color: #fff; height: 555px; }
div#lookingahead > p { float: right; margin: 30px 3%; width: 38%; }
div#lookingahead > p > span.first-letter { font-size: 2.1em; margin-right: -3px; }
div#lookingahead > div.col { float: left; margin: 10px 0 0 4%; overflow: auto; width: 44%; }
div#lookingahead > div.col > p { font-size: .9em; padding-top: 18px; }
div#lookingahead > div.col > p > strong { color: #a6ce39; }
div#lookingahead > div.image { cursor: pointer; float: left; height: 200px; overflow: hidden; position: relative; width: 55%; }
div#lookingahead > div.image > img { width: 100%; } 
div#ar14 div#lookingahead > div.image > h2 { background-color: #000; background-color: rgba(0,0,0,.6); border-top: 1px solid #fff; bottom: 0; color: #fff; font-family: Bebas,Arial,sans-serif; font-size: 2.4em; padding: 8px 3%; position: absolute; left: 0; width: 94%; }
div#lookingahead > div.image > p { -moz-transition: right .7s; -ms-transition: right .7s; -o-transition: right .7s; -webkit-transition: right .7s; background-color: #ddd; background-color: rgba(255,255,255,.6); border: 1px solid #aaa; border-radius: 10px; color: #333; font-size: .75em; padding: 7px 10px; position: absolute; right: -200px; top: 10px; transition: right .7s; width: 150px; }
div#lookingahead > div.image:hover > p { right: 14px; }
div#lookingahead > div.image > em { color: #aaa; font-size: .6em; left: 2px; position: absolute; top: 2px; }

div#signoff { cursor: pointer; height: 510px; margin-bottom: 36px; overflow: hidden; position: relative; }
div#signoff > img { position: absolute; top: -30px; width: 100%; }
div#signoff > p { -moz-transition: top .7s; -ms-transition: top .7s; -o-transition: top .7s; -webkit-transition: top .7s; color: #333; font-family: Lato,Arial,sans-serif; font-size: .8em; left: 210px; position: absolute; top: -140px; transition: top .7s; width: 200px; }
div#signoff:hover > p { top: 12px; }
div#signoff > h2 { background-color: #aaa; background-color: rgba(255,255,255,.7); bottom: 66px; font-size: 1em; padding: 22px 0; position: absolute; text-align: center; width: 100%; }
div#signoff > h2 > strong { color: #0095cf; font-family: Bebas,Arial,sans-serif; font-size: 1.9em; letter-spacing: 1.2px; }
div#signoff > em { bottom: 1px; font-size: .6em; position: absolute; right: 5px; } 
div#signoff.shift > img { top: 0; }
div#signoff.shift > h2 { bottom: 14px; padding: 8px 0; }

div#toc { font-size: .7em; left: 3%; position: fixed; top: 50px; width: 284px; }
div#toc a { display: block; line-height: 1em; padding: 6px 0; }
div#toc > div { background-color: #f9f9f9; border-radius: 10px; box-shadow: 2px 2px 6px .2px #aaa; border: 1px solid #999; padding: 8px 0 8px; position: relative; width: 140px;  }
div#toc > div > a { text-align: center; }
div#toc > div > a.arrow { display: none; }
div#toc > div > a.arrow:hover { background-color: #ddd; }
div#toc > div > a > span { -moz-transition: padding .3s; -ms-transition: padding .3s; -o-transition: padding .3s; -webkit-transition: padding .3s; background-color: #333; border-radius: 100%; color: #ddd; display: block; height: 20px; font-size: 1.7em; margin: -4px auto 2px; padding: 12px 8px 4px; transition: padding .3s; width: 20px; }
div#toc > div > a:hover > span { padding: 4px 8px 12px; }
div#toc > div > div { position: relative; width: 284px; }
div#toc > div > div > h2 { background-color: #ccc; cursor: pointer; font-weight: 700; padding: 5px 0; text-align: center; width: 140px; }
div#toc > div > div > div { background-color: #f9f9f9; border: 1px solid #999; border-radius: 6px; display: none; font-size: .85em; padding: 8px 8px 4px 6px; position: absolute; right: 0; top: -6px; width: 140px; }
div#toc > div > div:hover > div { display: block; }
div#toc > div > div > div > a { border-radius: 4px; margin-bottom: 2px; padding: 2px 4px 1px; }
div#toc > div > div > div > a:hover { background-color: #ddd; }
div#toc > div > div > div > div { background-color: #02afa2; border-radius: 6px; margin: 4px 2px 5px 4px; padding: 3px 6px; }
div#toc > div > div > div > div > h2 { font-size: .9em; font-weight: 700; padding: 2px 0 1px; }
div#toc > div > div > div > div > a { font-size: .95em; padding: 2px 1px 2px; }
div#toc > div > div > div > div > a > span { font-weight: 700; }
div#toc > div > div > div > div > a:hover { background-color: #009795; }
div#toc > div > div > div > div.gr { background-color: #a6ce39; }
div#toc > div > div > div > div.gr > a:hover { background-color: #94ac17; }

@media screen and (max-width: 1375px) {
  div#toc { display: none; }
}

@media screen and (max-width: 950px) {
  div#ar14 { box-shadow: none; width: 100%; }
  
  div#ar14 > div { height: auto; position: static; }
  div#title { width: 100%; }
  div#title > h2, div#title > img { position: static; }
  div#title > h3 { background-color: #00a9a7; top: 250px; bottom: auto; position: static; }
  div#title > p { display: none; }
  
  div#letter { padding: 10px 3%; width: 94%; }
  div#letter > div { margin-right: 5%; }
  div#letter > h2 { font-size: 1.8em; padding-left: 5%; }
  div#letter > p { font-size: .75em; padding: 10px 5% 8px; width: 90%; }
  div#letter > p.signature { float: none; padding: 20px; }
  div#letter > p.signature > img { display: none; }
  
  div#people > div > div > h3  { font-size: .7em; }
  
  div#wherewework, div#wherewework > h2 { padding: 10px 0; position: static; }
  div#wherewework > div#image { float: right; margin-top: 35px; margin-right: -10%; position: relative; }
  div#wwwmap { padding: 10px 3%; position: static; width: 94%; }
  div#wwwmap > div, div#wwwmap > a { display: inline-block; position: static; vertical-align: top; width: auto; }
  div#wwwmap > img, div.active, div.mrdist { display: none; }
  div#key { display: inline-block;  margin-top: 10px; margin-left: 3%; position: static; vertical-align: top; width: 42%;}
  div#key.key-right { margin-left: 1%; }
  div#reach { clear: both; float: left; margin-left: 6%;  margin-top: 20px; position: static; }
 
  div#assets { border-top: 1px solid #aaa; padding: 10px 0 0 3%; }
  div#lists { float: none; margin: 0 10%; width: 75%; }
  div#circles { float: none; font-size: .8em; margin: 20px auto 10px; width: 82%; }
  div#circles > div { display: none; }
  
  div#ar14 div#frehner { padding: 20px 3%; width: 94%;}
  div#frehner > div { margin-right: 9%; width: 50%; }
  div#frehner > div > img { width: 100%; }
  div#frehner > div > em { display: none; }
  
  div.spotlight { background-color: #000; height: auto !important; }
  div.spotlight > div.body { background-color: #fff; overflow: hidden; padding-right: 3% !important; position: static; width: 97% !important; }
  div.spotlight > div.body > div.ar14circle { height: 100px; margin-bottom: -20px;}
  div.spotlight > div.ar14offset { box-shadow: none; display: block; position: static; width: 100% !important; }
  div.spotlight > div.ar14offset > p, div.spotlight > div.offset > div img  { display: none; }
  div.spotlight > div.ar14offset > img { position: static !important; width: 100%; }
  div.spotlight > div.ar14offset > div { background-color: #000 !important; border: 0 !important; padding: 8px 3% !important; position: static !important; width: 94%; }
  div.spotlight > div.ar14offset > div > p { line-height: 1.3em; padding: 3px 0; }
  
  div.spotlight#westafrica > div.ar14offset > h4 { display: none; }
  div.spotlight#kenya > div.ar14offset > img { float: left; width: 40%; }
  div.spotlight#kenya > div.ar14offset > div { float: right; width: 54%; }
  div.spotlight#kenya > div.ar14offset > em { display: none; }
  div.spotlight#indonesia > div.ar14offset > img { float: left; width: 35%; }
  div.spotlight#indonesia > div.ar14offset > div.sidebar, div#tsunami-expenses { display: none; }
  div.spotlight#indonesia > div.ar14offset > div { float: right; width: 54%; }
  div.spotlight#indianepal > div.body > div.ar14circle { height: 150px; }
  div.spotlight#indianepal > div.ar14offset > img { float: left; width: 32%; }
  div.spotlight#indianepal > div.ar14offset > div.topbar { float: right; margin-top: 10px; margin-right: 2%; width: 56%; }
  div.spotlight#centralamerica > div.ar14offset > img { width: 100%; }
  div.spotlight#centralamerica > div.ar14offset > div.pathways { width: 94%; }
  div.offset_honduras { box-shadow: none; position: static; width: 100%; }
  div.offset_honduras > div > img { float: left; position: static; width: 35%; }
  div.offset_honduras > div > div#groundup { float: right; padding: 0;position: static; width: 65%; }
  
  div#haiyan > div#delia { box-shadow: none; width: 100%; margin: 0 0 10px; }
  div#haiyan > div#haiyan-stats { font-size: .8em; }
  div#haiyan > div#haiyan-stats > p > img { display: none; }
  div#haiyan > div#haiyan-stats > p { display: block; margin: 0 0 8px; width: 100%; }
  div#haiyan > div#haiyan-stats > p > span { display: inline-block; }
  div#roadahead > a { display: block; }  
  div#scroll { height: auto; position: static; overflow: show; }
  div#scroll > img { width: 100%; position: static; }
  div#cashforwork { font-size: .8em; }
  
  div#lookingahead { position: static; padding-bottom: 25px;}
  div#lookingahead > div.image { float: none; width: 100%; }
  div#lookingahead > div.image > p { display: none; }
  div#lookingahead > p { float: none; font-size: .8em; margin: 8px 3%; width: 94%; }
  div#lookingahead > div.col { float: none; font-size: .75em; margin-top: 0; width: 92%; }
  
  div#signoff, div#signoff > img { position: static; }
  div#signoff > p, div#signoff > em { display: none; }
  div#signoff > h2 { font-size: .65em; padding: 10px 0; position: static; }
}

@media screen and (max-width: 800px) {
  div#reach { margin-left: 2%; }
  div#wherewework > div#image { margin-right: -20%; }
}

@media screen and (max-width: 650px) {
  div#title > h2 { font-size: .9em; }
  div#title > h3 { font-size: 2.4em; padding: 5px 0; top: 180px; }
  
  div#letter > div { float: none; margin: 2px 5%; width: 90%; }
  
  div#key { margin-top: 5px; width: 90%; }
  div#key.key-right { margin-left: 3%; }
  div#reach { float: none; width: 96%; }
  div#reach > div { display: inline-block; margin: 0; padding: 0; margin-left: 10%; margin-bottom: 16px; text-align: center; width: 34%; }
  div#reach > div > h4 { margin: 0; }
  div#reach > div > img { display: block; float: none; height: 28px; margin: 6px auto 0; width: 28px;}
  div#wherewework > div#image { display: none; }
  
  div#people { font-size: .5em; line-height: 1em; }
  div#donors { margin-bottom: 5px; }
  div#donors > div { margin: 10px 0; width: 32%; }
  
  div#assets { font-size: .6em; }
  
  div#frehner { font-size: .8em; }
  div#frehner > div { float: none; margin: 0 auto 20px; width: 70%; }
  div#frehner > p { margin-top: 10px; }
  
  div.spotlight { font-size: .8em; }
  div.spotlight > div.body > div.donors, div.spotlight > div.body > div.ar14circle { display: none; }
  
  div.offset_honduras > div > img { float: none; width: 100%; }
  div.offset_honduras > div > div#groundup { float: none; padding: 0 0 2px; position: static; width: 100%; }
  div.offset_honduras > div > div#groundup > img.logo { margin-top: 6px; width: 140px; }
  div.offset_honduras > div > div#groundup > img.map, div.offset_honduras > div > div#groundup > div { display: none; }
  div.offset_honduras > div > div#groundup > a { margin-top: 20px; }
  
  div#haiyan { font-size: .75em; }
  div#haiyan > div > h2 > img, div#cashforwork > img.leonida, div#cashforwork > em { display: none; }
  
}

@media screen and (max-width: 450px) {
  div.spotlight#kenya > div.ar14offset > img, div.spotlight#indianepal > div.ar14offset > img, div.spotlight#indonesia > div.ar14offset > img { float: left; width: 100%; }
  div.spotlight#kenya > div.ar14offset > div, div.spotlight#indianepal > div.ar14offset > div, div.spotlight#indonesia > div.ar14offset > div { float: right; width: 94%; }
  div.spotlight#indianepal > div.ar14offset > div.topbar { padding: 26px 0 26px 3%;  width: 90%; }
  div.spotlight#indianepal > div.ar14offset > div.topbar > span { display: none; }
}